@model PostViewModel
<div class="post-section col-sm-offset-1 col-sm-10">
    <div class="post-container row">

        <div class="img-group col-sm-offset-1 col-sm-6">
            <div class="img-container">
                <a class="prev" onclick="prevSlides(@Model.PostingId, this)">&#10094;</a>
                <a class="next" onclick="nextSlides(@Model.PostingId, this)">&#10095;</a>

                <img data-postingId="@Model.PostingId" data-imgId="1" src="@Model.Images.FirstOrDefault().Value" />
            </div>
        </div>

        <div class="detail-group col-md-4">
            <div class="row-flex">
                <div class="first-cell">
                    <h3>Status: @Model.Status</h3>
                </div>
                <div class="second-cell">
                    <h4>Biography: @Model.Story</h4>
                </div>
                <div class="third-cell">
                    <p>I am @Model.Age year(s) old</p>
                    <p>My parents: @Model.Breed</p>
                    <p>Special demand: @Model.SpecialNeeds</p>
                    <p>@Model.Health</p>
                </div>
                <div class="fourth-cell">
                    <p>@Model.Characteristic</p>
                </div>
            </div>
        </div>
    </div>
</div>
