@model PostViewModel

<div class="post-area col-sm-offset-1 col-sm-11">
    <div class="post-container row">
        <div class="main-img-group col-sm-8">
            <div class="img-container">
                <img src="@Model.Images.FirstOrDefault()" />
            </div>
        </div>

        <div class="detail-group col-md-4">
            <div class="row-flex">
                <div class="first-cell">
                    <p>@Model.Status</p>
                </div>
                <div class="second-cell">
                    <p>@Model.Story</p>
                </div>
                <div class="third-cell">
                    <p>@Model.Age</p>
                    <p>@Model.Breed</p>
                    <p>@Model.SpecialNeeds</p>
                    <p>@Model.Health</p>
                </div>
                <div class="fourth-cell">
                    <p>@Model.Characteristic</p>
                </div>
            </div>
        </div>
    </div>
</div>
