@model UploadViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostAPet</title>
    @Styles.Render("~/Content/custom/create_post.css")
</head>

<body>
    <div class="container-fluid mh-100">
        <div class="row mh-100">
            <h1 id="title">Post A Pet, Save A Friend</h1><hr>
            <div class="mh-100 col-md-6 text-left left">
                <div id="pic-form" onclick="document.getElementById('browse-pic').click();">
                    <legend id="select-photo">
                        Select Photo
                    </legend>
                    <div id="pic-preview-wrapper">
                        <img id="preview-img" src="#" alt="" />
                    </div>

                </div>
            </div>
            <div class="col-md-6 text-right" id="submit-form">
                @using (Html.BeginForm("PostAPet", "Home", FormMethod.Post, new { id="form-upload",enctype = "multipart/form-data" }))
                {
                    @Html.TextBoxFor(x => x.Status, new { @class="input-form", placeholder = "Status (*)", required = "required" })
                    @Html.TextBoxFor(x => x.Age, new { @class="input-form",placeholder = "Age (*)", required = "required" })
                    @Html.TextBoxFor(x => x.Breed, new { @class="input-form",placeholder = "Breed" })
                    @Html.TextBoxFor(x => x.SpecialNeeds, new { @class="input-form",placeholder = "Special Needs" })
                    @Html.TextBoxFor(x => x.Health, new { @class="input-form",placeholder = "Vaccination (*)", required = "required" })
                    @Html.TextBoxFor(x => x.Characteristic, new { @class="input-form",placeholder = "Characteristics" })
                    @*<input class="input-form" name="Status" type="text" placeholder="Status (*)" required>
                    <input class="input-form" name="Age" type="number" placeholder="Age (*)" required>
                    <input class="input-form" name="Breed" type="text" placeholder="Breed">
                    <input class="input-form" name="SpecialNeed" type="text" placeholder="Special Needs">
                    <input class="input-form" name="Health" type="text" placeholder="Vaccination(*)" required>
                    <input class="input-form" name="Characteristics" type="text" placeholder="Characteristics">*@
                    <input id="browse-pic" name="images" type="file" accept="image/*" title="" multiple>
                    <button id="submit-btn" class="input-form btn-success">Submit</button>
                    <input id="real-submit" type="submit" style="display:none" />
                }
            </div>
        </div>
    </div>
    @section scripts{
        <script src="~/Scripts/custom/upload.js"></script>
    }
</body>
</html>
